[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-restful = "*"
seqlog = "*"
requests = "*"
dependency-injector = "*"
flask-swagger-ui = "*"
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python src/api.py"
test = "pytest --cache-clear tests/"
